<head>
	<title>Bugs</title>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<style type="text/css">html, body {margin: 0; padding:0 }</style>
</head>
<body>
	<script src="phaser.min.js"></script>
	<script src="bugs.js"></script>
    <script type="text/javascript">
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-6155735-1', 'auto');
	  ga('send', 'pageview');
	</script>
</body>
